<header class="flex justify-center items-center py-9 mx-auto">
    <nav class="flex flex-row gap-x-10">
        <a href="#home">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </nav>
    <!-- Hi, I'm Guillermo Casal Caro -->
</header>
