---
import DropdownButton from "./DropdownButton.astro";
import ButtonPill from "./PillButton.astro";
import GithubIcon from "./icons/Github.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
---

<section
    id="home"
    class="w-full mx-auto lg:w-[740px] pt-24 flex flex-col gap-4">
    <div class="flex items-center gap-6 mb-6">
        <img
            class="rounded-full size-20 border-white border-2 border-opacity-30"
            src="/me.webp"
            alt="Avatar"
        />
        <h1 class="text-5xl font-bold text-white">
            Hello, I'm <span class="text-yellow-400">Guillermo</span>.
        </h1>
    </div>

    <h2 class="text-2xl text-pretty text-white">
        As a <span class="text-yellow-400">FullStack Developer</span> with a genuine
        passion for crafting user-centric interfaces using <span
            class="text-yellow-400">React.js</span
        >, I also possess a solid foundation in backend development using <span
            class="text-yellow-400">C#</span
        >. Additionally, I bring hands-on experience with <span
            class="text-yellow-400">Azure</span
        > services, contributing to the end-to-end development process. Eager to
        apply my skills in a collaborative environment and continue learning in the
        dynamic field of software development.
    </h2>

    <div class="w-full mt-8 flex flex-wrap justify-center gap-4">
        <ButtonPill
            href={"https://www.linkedin.com/in/guillermo-casal-caro-4b661711b/"}>
            <LinkedInIcon />{"LinkedIn"}
        </ButtonPill>
        <ButtonPill href={"https://github.com/GuillermoCasalCaro"}>
            <GithubIcon />{"Github"}
        </ButtonPill>
        <DropdownButton />
        <ButtonPill href={"mailto:guillermo.casal.caro@gmail.com"}>
            <Mail />{"guillermo.casal.caro@gmail.com"}
        </ButtonPill>
    </div>
</section>
