---
import Header from "../components/Header.astro";
import "@fontsource/lato";
import "@fontsource-variable/roboto-slab";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
// const dark = "#252A34";
// const darkSemi = "#393E46";
// const lightSemi = "#00ADB5";
const light = "#F9F7F7";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
		<div
			class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>
		<Header />
		<slot />
	</body>
</html>
<style is:global define:vars={{ light }}>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Lato", system-ui, sans-serif;
	}
	h1 {
		font-family: "Roboto Slab Variable", system-ui, sans-serif;
	}
	body {
		color: var(--light);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
